<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hotel Flamie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderDrinkApp">
        <activity android:name="com.sinhvien.khachsan.Activities.DetailStatisticActivity"></activity>
        <activity android:name="com.sinhvien.khachsan.Activities.AddStaffActivity" />
        <activity
            android:name="com.sinhvien.khachsan.Activities.EditTableActivity"
            android:label="Sửa phòng"
            android:theme="@style/PopUpActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.PaymentActivity" />
        <activity
            android:name="com.sinhvien.khachsan.Activities.AmountMenuActivity"
            android:label="số lượng món"
            android:theme="@style/PopUpActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.AddCategoryActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.AddMenuActivity" />
        <activity
            android:name="com.sinhvien.khachsan.Activities.AddTableActivity"
            android:label="Thêm phòng"
            android:theme="@style/PopUpActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.HomeActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.LoginActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.Register2ndActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.WelcomeActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.RegisterActivity" />
        <activity android:name="com.sinhvien.khachsan.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>